* {
  box-sizing: border-box;
}

html {
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

body {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #F5F5F5;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

main {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  /* padding-bottom: 50px; */
}

input {
  width: 100%;
  height: 50px;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  border: 0;
  border-top: 1px solid #ccc;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: none;
}

input:focus {
  outline: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #9f1833;
  font-size: 0;
  text-align: center;
  padding: 10px 0;
  z-index: 10;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

p {
  margin: 0;
}

button {
  margin: 0 0.25rem 0.25rem 0;
  padding: 0.5rem 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: transparent;
  border: 1px solid #9f1833;
  border-radius: 20px;
  font-size: 15px;
}

button:focus {
  outline: 0;
}

.flag {
  display: table;
  width: 100%;
}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top .flag__image,
.flag--top .flag__body {
  vertical-align: top;
}
.flag--bottom .flag__image,
.flag--bottom .flag__body {
  vertical-align: bottom;
}

.flag__image {
  padding-bottom: 8px;
  padding-right: 10px;
}
.flag__image > img {
  display: block;
  max-width: none;
  border-radius: 50%;
}
.flag--rev .flag__image {
  padding-right: 0;
  padding-left: 10px;
}

.flag__body {
  width: 100%;
}

.chat {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* margin-top: 60px;
  margin-bottom: 50px; */
}

.response {
  padding: 0 1rem 1rem;
  flex: 0 0 auto;
}

.response:last-of-type {
  padding-top: 10px;
}

.response p {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.15);
}

.response p.img {
  padding: 0;
  overflow: hidden;
  font-size: 0;
}

.response p.img img {
  max-width: 250px;
}

.response-user {
  text-align: right;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.response-bot {
  text-align: left;
}
.response-bot p {
  background-color: #9f1833;
  color: #fff;
}

.response-buttons {
  margin-top: 0.5rem;
}

input#camera {
  visibility: hidden;
}

form {
  position: relative;
}

button#photo {
  position: absolute;
  margin: 0;
  padding: 16px;
  bottom: 0;
  right: 0;
  border: 0;
}
